*,html {
    margin: 0;
    padding: 0;
}
.container{
    background: rgb(109, 106, 106);
}

/* editing bagian navigation bar */
.container-navbar {
    background-color: maroon;
    color: yellow;
    height: 10vh;
}
.ul-navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

}
.li-navbar {
    margin: 10px;
    padding: 8px;
    background-color: yellow;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* untuk efek saat kursor menyentuh area list */
.li-navbar:hover {
    background-color: white;
    transition: .2s ease-in-out;
    border-radius: 10px;
}
.a-navbar:hover {
    color: black;

}

.a-navbar {
    color: maroon;
    text-decoration: none;
}

/* editing bagian content */
.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.a-content {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 50vh;
    height: 50vh;
    text-decoration: none;
    font-family: monospace;
    font-weight: 1000;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

/* efek saat kursor menyentuh gambar content */
.a-content:hover {
    background-color: aqua;
    color: black;
    transition: .2s ease-in-out;
}
.img-content {
    width: 80%;
    height: 80%;
    border-radius: 20px;
}
#biodata {
    background-color: red;
    width: 500px;
    height: 200px;
}

/* editing bagian footer */
.container-footer {
    background-color: darkred;
    color: yellow;
    height: 10vh;
}
.footer-h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

